@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

html body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
}

.navbar {
  margin: 0rem;
  padding: 1rem;
  border: none;
}

#navbarNav {
  flex-grow: 0 !important;
}

#home-image {
  margin-top: 2rem;
  min-width: 23.9vw;
  max-width: 23.9vw;
}

#img-alt {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1rem;
  
}

.text {
  padding: 10vh;
}

.pic-text{
  padding-top: 10vh;
  padding-left: 10vh;
}

#resource-pic {
  max-height: 50vh;
  padding-left: 3rem;
  
}

.pic-row {
  padding-bottom: 2rem;
}